node_modules/
hcb-basicos-app/node_modules/
.env
hcb-basicos-app/.env
npm-debug.log*
*.log

hcb-basicos-app/database.sqlite
hcb-basicos-app/database.sqlite-shm
hcb-basicos-app/database.sqlite-wal

hcb-basicos-app/build/
hcb-basicos-app/build.zip
