HCB_BASE_URL=https://servicios.clinicabiblica.com/apipruebas/HCBAPI
HCB_PUBLIC_KEY=colocar_aqui_public_key
HCB_SERVICIO=colocar_aqui_id_servicio
HCB_USUARIO=colocar_aqui_usuario
HCB_LLAVE_PRIVADA=colocar_aqui_llave_privada

HCB_SODA=SUBWAY
HCB_INTEGRATION_MODE=api
APP_ADMIN_USER=admin
APP_ADMIN_PASSWORD=admin123
APP_SELLER_USER=vendedor
APP_SELLER_PASSWORD=vendedor123
SESSION_SECRET=colocar_un_secreto_largo_aqui
PORT=2934